<div class="container">
  <h2>Editar Director</h2>
  <form [formGroup]="directoresForm" (ngSubmit)="actualizarDirector(directoresForm.value)">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input id="nombre" type="text" class="form-control" formControlName="nombre">
      <div *ngIf="directoresForm.get('nombre')?.invalid && directoresForm.get('nombre')?.touched" class="text-danger">
        Nombre es requerido.
      </div>
    </div>

    <div class="form-group">
      <label for="nacionalidad">Nacionalidad</label>
      <input id="nacionalidad" type="text" class="form-control" formControlName="nacionalidad">
      <div *ngIf="directoresForm.get('nacionalidad')?.invalid && directoresForm.get('nacionalidad')?.touched" class="text-danger">
        Nacionalidad es requerida.
      </div>
    </div>

    <div class="form-group">
      <label for="fecha_nacimiento">Fecha de Nacimiento</label>
      <input id="fecha_nacimiento" type="date" class="form-control" formControlName="fecha_nacimiento">
      <div *ngIf="directoresForm.get('fecha_nacimiento')?.invalid && directoresForm.get('fecha_nacimiento')?.touched" class="text-danger">
        Fecha de nacimiento es requerida.
      </div>
    </div>

    <div class="form-group">
      <label for="biografia">Biografía</label>
      <textarea id="biografia" class="form-control" formControlName="biografia"></textarea>
      <div *ngIf="directoresForm.get('biografia')?.invalid && directoresForm.get('biografia')?.touched" class="text-danger">
        Biografía es requerida.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="directoresForm.invalid">Actualizar Director</button>
  </form>
</div>
