<div class="container">
  <h2>Crear Nuevo Director</h2>
  <form [formGroup]="directorForm" (ngSubmit)="crearDirector(directorForm.value)">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input id="nombre" type="text" class="form-control" formControlName="nombre">
      <div *ngIf="directorForm.get('nombre')?.invalid && directorForm.get('nombre')?.touched" class="text-danger">
        Nombre es requerido.
      </div>
    </div>

    <div class="form-group">
      <label for="nacionalidad">Nacionalidad</label>
      <input id="nacionalidad" type="text" class="form-control" formControlName="nacionalidad">
      <div *ngIf="directorForm.get('nacionalidad')?.invalid && directorForm.get('nacionalidad')?.touched" class="text-danger">
        Nacionalidad es requerida.
      </div>
    </div>

    <div class="form-group">
      <label for="f_nacimiento">Fecha de Nacimiento</label>
      <input id="f_nacimiento" type="date" class="form-control" formControlName="f_nacimiento">
      <div *ngIf="directorForm.get('f_nacimiento')?.invalid && directorForm.get('f_nacimiento')?.touched" class="text-danger">
        Fecha de nacimiento es requerida.
      </div>
    </div>

    <div class="form-group">
      <label for="biografia">Biografía</label>
      <textarea id="biografia" class="form-control" formControlName="biografia"></textarea>
      <div *ngIf="directorForm.get('biografia')?.invalid && directorForm.get('biografia')?.touched" class="text-danger">
        Biografía es requerida.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="directorForm.invalid">Crear Director</button>
  </form>
</div>
