<div class="container">
  <h2>Eliminar Actor</h2>
  <form [formGroup]="actorForm" (ngSubmit)="eliminarActor(actorForm.value)">
    <div class="form-group">
      <label for="id">ID del Actor</label>
      <input id="id" type="text" class="form-control" formControlName="id" readonly>
    </div>

    <p>¿Estás seguro de que deseas eliminar este actor?</p>

    <button type="submit" class="btn btn-danger">Eliminar Actor</button>
    <a [routerLink]="['/actores']" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
