<h1>Eliminar Película</h1>

<p>¿Está seguro que desea eliminar la película?</p>

<form [formGroup]="peliculaForm" (ngSubmit)="eliminarPelicula(peliculaForm.value)">

  <div class="form-group">
    <label for="id">ID de la Película (solo lectura):</label>
    <input type="number" class="form-control" id="id" formControlName="id" readonly>
  </div>

  <button type="submit" class="btn btn-danger">Eliminar Película</button>
  <a class="btn btn-secondary" [routerLink]="['/pelicula']">Cancelar</a>
</form>
