<h1>Listado de Series</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Género</th>
      <th>Duración</th>
      <th>País</th>
      <th>Fecha de estreno</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let serie of series">
      <td>{{ serie.idSeries }}</td>
      <td>{{ serie.nombre }}</td>
      <td>{{ serie.genero }}</td>
      <td>{{ serie.duracion }} minutos</td>
      <td>{{ serie.pais }}</td>
      <td>{{ serie.f_estreno }}</td>
      <td>
        <button class="btn btn-primary" (click)="onEditarNavigate(serie.idSeries)">Editar</button>
        <button class="btn btn-danger">Eliminar</button> </td>
    </tr>
  </tbody>
</table>
