
  <main class="main">
    <div class="banner">
      <h1>Hello, {{ title }}</h1>
    </div>
    <div class="content">
      <div class="section">
        <h2>Series populares</h2>
        <div class="series-list">
          <div class="card">Serie 1</div>
          <div class="card">Serie 2</div>
          <div class="card">Serie 3</div>
          <div class="card">Serie 4</div>
        </div>
      </div>
      <div class="section">
        <h2>Películas destacadas</h2>
        <div class="movies-list">
          <div class="card">Película 1</div>
          <div class="card">Película 2</div>
          <div class="card">Película 3</div>
          <div class="card">Película 4</div>
        </div>
      </div>
    </div>
  </main>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
