<h1>Listado de Películas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Género</th>
      <th>Duración</th>
      <th>País</th>
      <th>Fecha de estreno</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pelicula of pelicula">
      <td>{{ pelicula.idPelicula }}</td> <td>{{ pelicula.nombre }}</td>
      <td>{{ pelicula.genero }}</td>
      <td>{{ pelicula.duracion }} minutos</td>
      <td>{{ pelicula.pais }}</td>
      <td>{{ pelicula.f_estreno }}</td>
      <td>
        <button class="btn btn-primary" (click)="onEditarNavigate(pelicula.idPelicula)">Editar</button>
        <button class="btn btn-danger">Eliminar</button> </td>
    </tr>
  </tbody>
</table>
