<div class="container">
    <h2>Lista de Actores</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Nacionalidad</th>
          <th>Fecha de Nacimiento</th>
          <th>Biografía</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let actor of actores">
          <td>{{ actor.idActor }}</td>
          <td>{{ actor.nombre }}</td>
          <td>{{ actor.nacionalidad }}</td>
          <td>{{ actor.f_nacimiento }}</td>
          <td>{{ actor.biografia }}</td>
          <td>
            <button (click)="onEditarNavigate(actor.idActor)" class="btn btn-primary">Editar</button>
            <button (click)="onEliminarNavigate(actor.idActor)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  