<div class="container">
    <h2>Lista de Directores</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Nacionalidad</th>
          <th>Fecha de Nacimiento</th>
          <th>Biografía</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let director of directores">
          <td>{{ director.idDirector }}</td>
          <td>{{ director.nombre }}</td>
          <td>{{ director.nacionalidad }}</td>
          <td>{{ director.f_nacimiento | date }}</td>
          <td>{{ director.biografia }}</td>
          <td>
            <button (click)="onEditarNavigate(director.idDirector)" class="btn btn-primary">Editar</button>
            <button (click)="onEliminarNavigate(director.idDirector)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  