/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
    }
    
    .main {
        padding: 20px;
    }
    
    .banner {
        background-color: #333333;
        padding: 50px 20px;
        text-align: center;
        border-radius: 8px;
        margin-bottom: 20px;
    }
    
    .banner h1 {
        font-size: 36px;
        margin: 0;
    }
    
    .banner p {
        font-size: 18px;
        margin: 10px 0 0;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .section {
        background-color: #1f1f1f;
        padding: 20px;
        border-radius: 8px;
    }
    
    .section h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    .series-list, .movies-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .card {
        background-color: #444444;
        padding: 20px;
        border-radius: 8px;
        flex: 1 1 calc(50% - 40px); /* Dos columnas con espacio entre ellas */
        text-align: center;
        font-size: 18px;
    }
    