<div class="container">
  <h2>Eliminar Director</h2>
  <form [formGroup]="directorForm" (ngSubmit)="eliminarDirector(directorForm.value)">
    <div class="form-group">
      <label for="id">ID del Director</label>
      <input id="id" type="text" class="form-control" formControlName="id" readonly>
    </div>

    <p>¿Estás seguro de que deseas eliminar este director?</p>

    <button type="submit" class="btn btn-danger">Eliminar Director</button>
    <a [routerLink]="['/director']" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
